.gitignore
data_analysis/GTFS-analysis/gtfs_delfi
data_analysis/GTFS-analysis/gtfs_delfi.db
data_analysis/GTFS-analysis/delfi.db
data_analysis/GTFS-analysis/export/agency_stops.csv
.DS_Store
klimaland-app/node_modules