.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

p {
  font-size: 0.75rem;
  margin: 0.5rem;
}

h4{
  margin: 0.5rem;
  color: #E5184C;
}

.canvas {
  background-color: #ffffff;
  width: 62vw;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.cardelement{
  height: 24vh;
  width: 18vw;
}
[type=radio] {
  display: none;
}

.cardelement {
  margin: auto;
  background-color: rgb(254, 244, 40);
  position: absolute;
  cursor: pointer;
  transition: transform 0.4s ease;
  perspective: 1000px;
  transform-style: preserve-3d;
}


#card1:checked ~ #slide1, #card2:checked ~ #slide2,
#card3:checked ~ #slide3 {
  /* box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19); */
  /* transform: translate3d(0,0,0); */
  /* transform: translate(0%,50px); */
  background-color: #18e51b;
  transform: scale(1.8);
  z-index: 1;
}

#card1:checked ~ #slide2, #card2:checked ~ #slide3,
#card3:checked ~ #slide1 {
  /* box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2); */
  transform: translate(0,0);
  background-color: #1830e5;
}

#card1:checked ~ #slide3, #card2:checked ~ #slide1,
#card3:checked ~ #slide2 {
  /* box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2); */
  transform: translate(0,0);
  background-color: #E5184C;
}


.card-container{
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
  transition: -webkit-transform ease 300ms;
  transition: transform ease 300ms;
  height: 24vh;
  width: 18vw;
  background-color: #FFF9F1;
  border-radius: 2px;
  margin: 0.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-container:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  /* transform: scale(1.8); */
}

.card-container.flip{
  --rotate-y: 180deg;
}

.card-container .card-front,
.card-container .card-back{
  position: absolute; 
  /* so front and back are behind each other */
  width: 100%;
  height: 100%;
  margin: 0;
  backface-visibility: hidden;
}

.card-container .card-back{
  transform: rotateY(180deg);
}
  
.front {
  /* background-color: #FFF9F1; */
  backface-visibility: hidden;
}

.back {
/* background-color: #FA8AA8; */
backface-visibility: hidden;
}

.button-flip{
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.button-flip:hover {
  opacity: 70%;
}