@import "_config.scss";

.carousel-container{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}

.card-container{
    width: 100%;
    height: 100%;
    padding: 15px 10px 20px 0px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    
    &.carousel{
        // if carousel removes flex specs
        flex-direction: unset;
        flex-wrap: nowrap;
        padding: 0;
    }
}

// flipping
.card{
    position: absolute;

    &-active{
        // scaling to avoid overflow
        transform: translateY(0px);
        z-index: 1;
        opacity: 1;
        @include stacked-postcard;
    }

    &-left{
        transform: rotate(-5deg) scale(1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: -2;
        @include stacked-postcard;

        .card-front, 
        .card-back {
            opacity: 0;
        }
    }
    
    &-right{
        transform: rotate(5deg) scale(1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: -1;
        @include stacked-postcard;

        .card-front, 
        .card-back {
            opacity: 0;
        }
    }

    &-back{
        transform: rotate(-2deg)  translate(-2px, -5px) scale(1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: -3;
        @include stacked-postcard;

        .card-front,
        .card-back {
                opacity: 0;
        }
    }

    &-ordered{
        //original ratio changed for styling
        width: $thumbnail-postcardwidth;
        height: calc($thumbnail-postcardwidth/1.5);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        position: relative;
        z-index: 0;

        &:hover {
            z-index: 999;
        }
    }
}

.card-preview {

    @include postcard;

    height: 100%;
    width: 100%;
    display:flex; //for using flex stretch below

    .side-outer {
        width: 100%;
        height: 100%;
        overflow: hidden;

        & .rating-thumb{
            position: absolute;
            top: 60%;
            left: 3%;
            z-index: 2;

            circle {
                stroke-width: 0.5;

            }
        }

        & .section-thumb{
            position: absolute;
            margin: 1px;
            left: 2.5%;
            font-size: 1rem;
            top: 37%;
            color: $dark-blue;
            z-index: 2;
        }

        & .gruss-thumb{
            position: absolute;
            font-size: 0.9rem;
            margin: 0px;
            left: -3%;
            top: 6px;
            color: $dark-blue;
            transform: scale(0.8, 1.2) rotate(-1deg);
            z-index: 2;
        }

        & .wordart-1 {
            position: absolute;
            font-size: 1.65rem;
            width: 50%;
            margin: 0px;
            left: -3%;
            top: 28px;
            transform: scale(0.8, 1.2) rotate(-2deg);
            font-family: Impact, sans-serif;
            color: $blue;
            -webkit-text-stroke: 1.25px $dark-blue;
            text-shadow: 0.35rem -0.35rem 0 $dark-blue;
            letter-spacing: -0.15vw;
            z-index: 1;
            
        }

        & .wordart-2 {
            position: absolute;
            font-size: 1.65rem;
            width: 50%;
            margin: 0px;
            left: -3%;
            top: 22px;
            transform: scale(0.8, 1.2) rotate(-2deg);
            font-family: Impact, sans-serif;
            background: $dark-blue;
            background: linear-gradient(to right, $dark-blue 0%, $dark-pink 70%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            letter-spacing: -0.15vw;
            z-index: 1;
        }

    }

    .side-inner {
        width: 100%;
        height: 100%;
        transform: translateX(40%);
        background-color: rgba($lighter-orange, 0.5);
        clip-path: circle(55%);    
    }
      
}

.side {
    padding-left: 0.5em;
}

.side-container{

    @include postcard;

    //148mm x 105mm (ratio 1.4)
    width: $postcardview-postcardwidth; //60vw
    height: calc($postcardview-postcardwidth/1.6);
    
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) ;
    -webkit-transform: perspective(1000px) rotateY(var(--rotate-y, 0)) ;
    
    transition: transform ease 500ms;
    transition: -webkit-transform ease 500ms;
    
    box-shadow: -4px 4px 0px rgba($pale-olive, 0.4);

    &:hover {
        box-shadow: -4px 4px 0px rgba($pale-olive, 0.4);
    }


    &.flip{
        //flipped boxshader, no shader on hover
        box-shadow: map-get($map: $boxshadow, $key: default);
    }

    & .card-front, .card-back{
        position: absolute; 
        width: 100%;
        height: 100%;
        margin: 0;
        display:flex; //for using flex stretch below
        backface-visibility: hidden;
        transform: rotateX(0deg);  //fix backface visibility firefox
    }

    & .card-back{
        transform: rotateY(180deg);
    }

    &-ordered{
        margin:1rem;
    }
}

.card-active {
    .side-outer {
            width: 100%;
            height: 100%;
        }
    .side-inner {
        width: 100%;
        height: 100%;
        // back-side with explanation
        .details-container {
            height: 90%;

            .flex-container {
                display: flex;
                height: 100%;    
                
                .text-container {
                        width: 60%;
                        height: 100%;
                        overflow: scroll;
                
                        border-right: 1px solid $default-text;
                
                        .text-inner-container {
                            margin: 10px;
                            height: 90%;
                
                            .section-title {
                                text-align: left;
                                margin: 2rem 1rem 0.5rem 1rem;
                                border-bottom: 1px solid $mint-green;
                                width: 85%;
                
                                h2 {
                                    margin-bottom: 0.5rem;
                                    font-size: 24px;
                                }
                            }
                
                            .section-text {
                                margin: 20px;
                                width: 85%;
                
                                p {
                                    font-size: 14px;
                                    line-height: 1.2rem;
                                }
                            }
                        }
                    }

                    .text-container::-webkit-scrollbar {
                        display: none;
                    }

                    /* Hide scrollbar for IE, Edge and Firefox */
                    .text-container {
                        -ms-overflow-style: none;
                        /* IE and Edge */
                        scrollbar-width: none;
                        /* Firefox */
                    }

                    .data-container {
                        width: 40%;
                        height: 100%;

                        .locator-map {
                            border-bottom: 1px solid $default-text;
                            position: relative;
                            height: 40%;
                        }

                        .lk-list {
                            margin: 0px 0px 0px 0px;
                            height: 60%;
                            overflow: hidden;

                            .list-inner-container {

                                .list-similar-container,
                                .list-dissimilar-container {
                                    // border-bottom: 1px solid $default-text;
                                    overflow-y: scroll;
                                    overflow-x: hidden;
                                    -ms-overflow-style: none;
                                    scrollbar-width: none;
                                    max-height: 125px;


                                    &::-webkit-scrollbar {
                                        display: none;
                                    }

                                    h5 {
                                        // padding-left: 0.5rem;
                                        width: calc(100% - 0.5rem);
                                        margin: 0px;
                                        padding: 0.2rem 0rem 0.2rem 0.5rem;
                                        // border-bottom: 1px solid $default-text;
                                    }

                                    ul,
                                    ol {
                                        margin: 0.5rem 0rem 0rem 0rem;
                                    }

                                    ol {
                                        border-bottom: 1px solid $default-text;
                                        padding-bottom: 0.5rem;
                                    }
                                }

                                .list-dissimilar-container {
                                    h5 {
                                        background-color: $red;
                                        color: white;
                                    }
                                }

                                .list-similar-container {
                                    h5 {
                                        background-color: $taz-orange;
                                    }
                                }
                            }
                        }
                    }
            }
        }

        .footer-container {
            height: 10%;
            border-top: 1px solid $default-text;

            .footer-inner-container {
                display: flex;
                
                .logo-container {
                    background-image: url(../img/taz/taz-logo.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 20%;
                    min-height: 1rem;
                    margin: 10px;
                }
                
                .info-backside {
                    margin: 10px 0px 10px 0px;
                    font-size: 12px;
                    border: 1px solid $mint-green;
                    border-radius: 20px;
                    padding: 0.2rem 0.5rem 0rem 0.5rem;
                    background: linear-gradient(to left, $mint-green, rgba($mint-green, 0.5));
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        // CSS Transition classes
        &.side-transition-enter {
            opacity: 0;
        }

        &.side-transition-enter-active, 
        &.side-transition-enter-done {
            opacity: 1;
            transition: opacity 20ms;
        }

        &.side-transition-exit {
            opacity: 1;
            transition: opacity 20ms;
        }

        &.side-transition-exit-active {
            opacity: 0;
            transition: opacity 20ms;
        }
    }
}


