@import '_config.scss';

.carousel-container {
  width: 100%;
  height: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 15px 10px 20px 0px;
  margin: 0;
  overflow: hidden;

  &.carousel {
    height: 100%;
    // if carousel removes flex specs
    flex-direction: unset;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 0;
    &.card-front {
      &.side-odd {
        display: none;
      }
    }
  }

  //comparison view
  &.stacked {
    &.twocards {
      .card {
        &-ordered {
          //original ratio changed for styling
          width: calc($thumbnail-postcardwidth + 10vw);
          height: calc(($thumbnail-postcardwidth + 10vw) / 1.5);
        }
      }
    }
  }
}

// flipping
.card {
  position: absolute;
  align-self: center;

  &-active {
    // scaling to avoid overflow
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    z-index: 1;
    opacity: 1;
    @include stacked-postcard;

    .side-container {
      background: transparent;
      .card-front {
        &.side-odd {
          backface-visibility: visible;
          -webkit-backface-visibility: visible;
          transform: rotateY(0deg);
          -webkit-transform: rotateY(-180deg);
        }
      }
    }
    &.animating {
      @include keyframes(wiggle4) {
        0% {
          transform: translateY(0px);
        }
        70% {
          transform: translateY(-3px);
        }
        100% {
          transform: translateY(0px);
        }
      }
      @include animate(wiggle4, 0.6s, ease-in, forwards);
    }
  }

  &-left {
    transform: rotate(-4deg) scale(1);
    -webkit-transform: rotate(-4deg) scale(1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: -2;
    @include stacked-postcard;

    .card-front,
    .card-back {
      opacity: 0;
    }
    &.animating {
      @include keyframes(wiggle1) {
        0% {
          transform: rotate(-4deg);
        }
        50% {
          transform: rotate(-1deg);
        }
        100% {
          transform: rotate(-2deg) translate(-2px, -5px);
        }
      }
      @include animate(wiggle1, 0.6s, ease-in, forwards);
    }
  }

  &-right {
    transform: rotate(4deg) scale(1);
    -webkit-transform: rotate(4deg) scale(1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: -1;
    @include stacked-postcard;

    .card-front,
    .card-back {
      opacity: 0;
    }
    &.animating {
      @include keyframes(wiggle2) {
        0% {
          transform: rotate(4deg);
        }
        70% {
          transform: rotate(-5deg);
        }
        100% {
          transform: rotate(-4deg);
        }
      }
      @include animate(wiggle2, 0.6s, ease-in, forwards);
    }
  }

  &-back {
    transform: rotate(-2deg) translate(-2px, -5px) scale(1);
    -webkit-transform: rotate(-2deg) translate(-2px, -5px) scale(1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: -3;
    @include stacked-postcard;

    .card-front,
    .card-back {
      opacity: 0;
    }
    &.animating {
      @include keyframes(wiggle3) {
        0% {
          transform: rotate(-2deg) translate(-2px, -5px);
        }
        100% {
          transform: rotate(4deg);
        }
      }
      @include animate(wiggle3, 0.6s, ease-in, forwards);
    }
  }

  &-ordered {
    //original ratio changed for styling
    width: $thumbnail-postcardwidth;
    height: calc($thumbnail-postcardwidth/1.5);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: relative;
    z-index: 0;

    &:hover {
      z-index: 8;
    }
  }
}

.card-preview {
  @include postcard;

  height: 100%;
  width: 100%;
  display: flex; //for using flex stretch below

  .side-outer {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .overlay-container {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;

      .overlay-inner {
        width: 95%;
        height: calc(100% - 0.5rem);
        margin: 0 auto;
        .postcard-title {
          h4 {
            -webkit-transition: color 500ms linear;
            transition: color 500ms linear;
            color: darken($pale-olive, 20%);
            margin: 0.5rem;
          }
        }

        &:hover {
          .postcard-title {
            h4 {
              -webkit-transition: color 500ms linear;
              transition: color 500ms linear;
              color: darken($pale-olive, 40%);
            }
          }
        }

        .button-download {
          display: none;
        }
      }
      .section-thumb {
        width: 100%;
        height: 100%;

        .indicator-ranking {
          display: inline-block;
          position: absolute;
          bottom: 1rem;
          z-index: 5;
          border: 2px solid gray;
          border-radius: 5px;
          background-color: $light;
          max-width: 90%;

          p {
            font-family: 'Chivo';
          }

          -webkit-transform: rotate(5deg);
          transform: rotate(5deg);

          &.mittleren {
            border-color: $taz-orange;
            p {
              color: $taz-orange;
            }
          }

          &.schlechtesten {
            border-color: $red;

            p {
              color: $red;
            }
          }

          &.besten {
            border-color: $mint-green;

            p {
              color: $mint-green;
            }
          }

          p {
            color: gray;
            font-size: 12px;
            margin: 0.5rem;
            display: table-cell;
            vertical-align: middle;
            line-height: 14px;
            padding: 10px;
            height: 14px;
          }
        }

        &.comparison {
          .word-art-title {
            @include wordart-style-1;
            -webkit-transform: scale(0.9, 1.2) rotate(-2deg) translate(0px, -15px);
            transform: scale(0.9, 1.2) rotate(-2deg) translate(0px, -15px);
            z-index: 2;
            // text-align: left;
            margin-top: 2rem;

            .gruss-thumb {
              display: none;
            }

            .wordart {
              /* Fallback: Set a background color. */
              background-color: $red;
              /* Create the gradient. */
              background-image: linear-gradient(90deg, $taz-orange, $red);

              /* Set the background size and repeat properties. */
              background-size: 100%;
              background-repeat: repeat;
              filter: drop-shadow(2px 2px 1px rgba($taz-orange, 0.2));
              line-height: 1.5rem;
              padding-bottom: 0.14em;

              /* Use the text as a mask for the background. */
              /* This will show the gradient as a text color rather than element bg. */
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              -moz-background-clip: text;
              -moz-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }

  .side-inner {
    width: 100%;
    height: 100%;
    // transform: translateX(40%);
    // -webkit-transform:translateX(40%);
    background: linear-gradient(rgba($light, 0.2), $lighter-orange);
    clip-path: circle(55% at 90% 50%);
    -webkit-transition: clip-path 1000ms;
    transition: clip-path 1000ms;
  }

  &:hover,
  &:active {
    .side-inner {
      clip-path: circle(115% at 90% 50%);
      background-color: $light;
    }
  }

  &:active {
    scale: 1.25;
    -webkit-transition: scale ease 500ms;
    transition: scale ease 500ms;
  }
}

.side {
  padding-left: 0.5em;
}

.side-container {
  @include postcard;

  //148mm x 105mm (ratio 1.4)
  width: $postcardview-postcardwidth; //60vw
  height: calc($postcardview-postcardwidth/1.6);

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;

  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  -webkit-transform: perspective(1000px) rotateY(var(--rotate-y, 0));

  transition: transform ease 500ms;
  transition: -webkit-transform ease 500ms;

  box-shadow: -4px 4px 0px rgba($pale-olive, 0.4);

  &:hover {
    box-shadow: -4px 4px 0px rgba($pale-olive, 0.4);

    // scale: 2;
  }

  &.flip {
    //flipped boxshader, no shader on hover
    box-shadow: map-get($map: $boxshadow, $key: default);
  }

  & .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex; //for using flex stretch below
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateX(0deg); //fix backface visibility firefox
    -webkit-transform: rotateX(0deg);
  }

  & .card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
  }

  &-ordered {
    margin: 1rem;
  }
}

.card-active {
  .side-outer {
    width: 100%;
    height: 100%;

    .overlay-container {
      height: calc(10% - 0.5rem);
      width: 100%;
      background-color: $light;
      margin: 0 auto;

      .overlay-inner {
        background-color: $light;
        width: calc(100% - 2rem);
        height: 80%;
        display: inline-flex;
        margin: 0.5rem 1rem;
        // padding: 0 0.5rem;
        border-bottom: 1px solid $default-text;
        position: relative;
        z-index: 10;

        .postcard-title {
          // margin-left: 0.5rem;
          display: inline-flex;
          h4 {
            font-weight: bold;
            margin: 0;
            margin-top: 0.2rem;
          }

          &.animating {
            .word-art-title {
              @include fade-in;
            }
          }

          .postcard-miniature {
            display: inline-flex;
            .word-art-title {
              transform-origin: left;
              -webkit-transform-origin-x: left;
              transform: translate(-10px, -5px);
              -webkit-transform: translate(-10px, -5px);
              position: relative;
              margin-top: 0;
              margin-right: 0.5rem;
              text-align: left;
              white-space: nowrap;
              // top: 0rem;
              // right: 6%;
              .gruss-thumb {
                display: none;
              }

              .wordart {
                font-size: 1.5rem;
              }
            }
          }
        }

        .button-toggle-container {
          margin-left: 0.5rem;
          display: inline-flex;
          width: 100%;

          .arrow-pointer {
            background-image: url('../img/buttons/caret-right.svg');
            background-repeat: no-repeat;
            background-size: contain;
            margin-top: 0.3rem;
            width: 1rem;
            height: calc(100% - 0.3rem);
          }

          svg {
            .toggle {
              display: block;
            }

            .toggleResponsive {
              display: none;
            }

            .togglePhone {
              display: none;
            }

            margin-left: 0.5rem;
            .toggle-rect {
              cursor: pointer;
              -webkit-transition: all 0.2s;
              transition: all 0.2s;

              &:hover {
                -webkit-transition: all 0.2s;
                transition: all 0.2s;
                fill: lighten($taz-orange, 20%);
              }
            }

            text {
              font-family: 'Chivo';
              fill: $default-text;
              font-weight: normal;
              font-size: 1em;
            }

            .controller-bg {
              cursor: pointer;
              fill: url(#MyGradient);
              stroke: $default-text;
            }
          }
        }

        .button-download {
          margin-left: auto;

          .inner-button {
            width: 100%;
            display: flex;
            height: 100%;
            flex-direction: row;
            align-items: baseline;
            justify-content: flex-end;
            position: relative;

            &:hover {
              .download-label {
                -webkit-transition: visibility 0s, opacity 0.5s;
                transition: visibility 0s, opacity 0.5s;
                opacity: 1;
                visibility: visible;
                display: inline-block;
              }
            }

            .download-label {
              pointer-events: none;
              -webkit-transition: visibility 0s, opacity 0.5s;
              transition: visibility 0s, opacity 0.5s;
              background-color: $light;
              border: 1px solid $pale-olive;

              padding: 0.5rem 0.5rem;
              font-size: 12px;
              margin: auto 0.5rem;
              position: absolute;
              //right: 0rem;
              //width: 15%;
              right: 25px;
              width: 80px;

              z-index: 2;
              opacity: 0;
              visibility: hidden;
              text-align: left;
              display: none;
            }

            img {
              height: auto;
              width: 20px;
              max-width: 50px;
              min-width: 20px;
            }
          }
        }
      }
    }

    .side-inner {
      background-color: $light;
      width: 100%;
      height: calc(90% + 0.5rem);
      position: relative;
      top: 0;

      // back-side with explanation
      .details-container {
        height: 100%;

        &.animating {
          ol,
          .locator-zoom,
          .text-container {
            @include fade-in;
          }
        }

        .flex-container {
          display: inline-flex;
          width: 100%;
          height: 92%;

          .text-container {
            width: 60%;
            height: 100%;
            overflow: hidden;

            .text-inner-container {
              position: relative;
              margin: 0 auto;
              width: 85%;
              height: 100%;

              .section-title {
                width: 80%;
                border-bottom: 1px solid $pale-olive;
                h2 {
                  display: none;
                  margin-top: 0;
                  padding-top: 2rem;
                  margin-bottom: 0.5rem;
                }
              }

              .section-text {
                height: 100%;
                position: relative;
                overflow-y: auto;

                p {
                  font-size: 14px;
                  span {
                    color: $taz-orange;

                    &.mittleren {
                      color: $taz-orange;
                    }

                    &.besten,
                    &.energy-data-renewables,
                    &.mo-km-umweltfreundlich,
                    &.ab-data-co,
                    &.ab-data-bio,
                    &.land-data-unter,
                    &.land-data-oeko,
                    &.ge-data-erneuerbare {
                      color: $mint-green;
                    }

                    &.schlechtesten,
                    &.gerics-data,
                    &.energy-data-fossil,
                    &.autos,
                    &.land-data-tierzahl,
                    &.ge-data-heat {
                      color: $red;
                    }

                    &.energy-data-geheim {
                      color: lighten($default-text, 20%);
                    }

                    &.location-name {
                      color: $dark-blue;
                    }
                  }
                }
              }
            }
          }

          .data-container {
            width: 40%;
            height: calc(97% + 1.3px);
            // background-color: aliceblue;
            border-left: 1px solid $default-text;

            .locator-map {
              border-bottom: 1px solid $default-text;
              position: relative;
              height: 40%;
            }

            .lk-list {
              margin: 0px 0px 0px 0px;
              width: 100%;
              height: 60%;
              overflow: hidden;
              position: relative;

              .list-inner-container {
                overflow-y: scroll;
                position: relative;
                height: 100%;

                .list-similar-container {
                  // border-bottom: 1px solid $default-text;
                  width: 100%;
                  height: 100%;

                  h5 {
                    width: calc(100% - 0.5rem);
                    margin: 0;
                    padding: 0.45rem 0rem 0.45rem 0.5rem;
                    border-bottom: 1px solid $default-text;
                    color: white;
                    background-color: $dark-blue;
                  }

                  ul {
                    margin: 0rem 0rem 0rem 0rem;
                  }

                  ol {
                    -webkit-transition: 0.5s;
                    transition: 0.5s;
                    padding-top: 0.5rem;
                    border-bottom: 1px solid $default-text;
                    color: $default-text;

                    &.ui-true {
                      &:hover {
                        background-color: $lighter-orange-full;
                        cursor: pointer;
                        -webkit-transition: 0.5s;
                        transition: 0.5s;
                        text-indent: 0.5rem;
                        //padding-left: 1rem;
                      }
                    }
                  }

                  &.mittleren {
                    h5 {
                      color: white;
                      background-color: $taz-orange;
                    }
                  }

                  &.besten {
                    h5 {
                      color: white;
                      background-color: $mint-green;
                    }
                  }

                  &.schlechtesten {
                    h5 {
                      color: white;
                      background-color: $red;
                    }
                  }
                }
              }
            }
          }
        }

        .footer-container {
          height: calc(10% + 2px);
          width: calc(40% - 0.5px);
          background-color: $light;
          position: absolute;
          right: 0;
          bottom: 0;
          border-left: 1px solid #484848;
          border-top: 1px solid #484848;

          .footer-inner-container {
            display: flex;
            height: 100%;

            .info-backside {
              margin: 10px 0px 10px 0px;
              font-size: 12px;
              line-height: 24px;
              border: 1px solid $mint-green;
              border-radius: 20px;
              padding: 0rem 0.5rem;
              background: linear-gradient(to left, $mint-green, rgba($mint-green, 0.5));
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;

              p {
                margin: 0 auto;
              }
            }
          }
        }
      }

      // CSS Transition classes
      &.side-transition-enter {
        opacity: 0;
      }

      &.side-transition-enter-active,
      &.side-transition-enter-done {
        opacity: 1;
        transition: opacity 20ms;
        -webkit-transition: opacity 20ms;
      }

      &.side-transition-exit {
        opacity: 1;
        transition: opacity 20ms;
        -webkit-transition: opacity 20ms;
      }

      &.side-transition-exit-active {
        opacity: 0;
        transition: opacity 20ms;
        -webkit-transition: opacity 20ms;
      }

      // Here edits for the export images
      .export {
        width: 100%;
        height: 90%;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -53%);
        -webkit-transform: translate(50%, -53%);
        background-color: $light;
        // box-shadow: 2px 2px 0px rgba($pale-olive, .5);

        .details-container {
          .flex-container {
            height: 100%;

            .text-container {
              .text-inner-container {
                .section-title {
                  h2 {
                    font-size: 1rem;
                  }
                }

                .section-text {
                  p {
                    font-size: 12px;
                    margin: 0.5rem auto;
                  }
                }
              }
            }
          }
          .footer-container {
            display: none;
          }
        }

        .data-container {
          .lk-list {
            .list-inner-container {
              .list-similar-container {
                h5 {
                  border-top: 0.15px solid $default-text;
                }
              }
            }
          }
        }
      }
    }
  }

  .social-media-layout {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-color: $light;

    .side-inner {
      height: 100%;
    }

    .logo-container {
      position: absolute;
      background-image: url(../img/taz/taz-klimaland-logo-bigger.jpg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 100%;
      height: 1.3rem;
      min-height: 1rem;
      bottom: 8px;
      left: 0px;
    }
  }
}
