@import "_config.scss";

.chart-outer-container {
    height: 100%;
}

.chart-container {

    height: 100%;

    .svg-container {
        height: 100%;
        // Specific styling for sections' charts
        &.Mo-chart {
            .car-density {
                height: 100%;
                @include vertical-layout;

                .title {
                    span {
                        &.first-value {
                            color: $red;
                        }
                        
                        &.second-value {
                            color: $taz-orange;
                        }
                    }
                }
            }
        }

        &.En-chart {
            .primary-energy {
                height: 100%;
                @include horizontal-bottom-layout;            
            }
        }

        &.Ab-chart {
            .biotonne-weight {
                height: 100%;
                @include horizontal-bottom-layout;

                .title {
                    span {
                        &.first-value {
                            color: $mint-green;
                        }
                
                        &.second-value {
                            color: $taz-orange;
                        }
                    }                
                }
            }
        }

        &.Ge-chart {
            .newbuildings-energy {
                height: 100%;
                @include vertical-layout;
            }
        }

        &.La-chart {
            .animal-count {
                height: 100%;
                @include horizontal-top-layout;
            }
        }
                                
    }
}

.locator-map {
    .locator-container {
        height: 150px;
        display:flex;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        .locator-background {
            width: 50%;

            svg {
                .zoom-pointer {
                    path {
                        fill: none;
                        stroke: black;
                    }
                }
            }
        }

        .locator-zoom {
            width: 50%;
            margin-left: 0.5rem;

            .locator-zoom-inner {
                background-color: $light;
                clip-path: circle(45%);
                position: absolute;
            }
        }
    }
}


.landkreis {
    stroke: $default-text;
    stroke-width: 0.5;
    fill: white;
    -webkit-backface-visibility: hidden;

    &.visible {
        fill: $lighter-orange;
    }
}

