//fonts
@font-face {
    font-family: AktivGrotesk_bold;
    src: url('../fonts/AktivGrotesk_Md.ttf');
}

@font-face {
    font-family: AktivGrotesk;
    src: url('../fonts/AktivGrotesk_Rg.ttf');
}

//colors
$light: #FFF9F1;
$pink: rgb(255, 192, 192);
$blue: rgb(170, 210, 238);
$taz-orange: rgba(246, 161, 25, 1);
$orange-shade: rgba(246, 161, 25, 0.4);
$lighter-orange-full: rgb(255, 232, 201);
$lighter-orange: rgba(255, 232, 201, 0.7);
$taz-pink: #F00048;
$dark-pink: #E5144B;
$red: #FF7B7B;
$default-text: #484848;
$mint-green: #1A8579;

//variables
$postcardview-postcardwidth: 80vw;
$thumbnail-postcardwith:30vw;

//effects
$boxshadow: (
    default: (4px 4px 0px $orange-shade),
    hover: (6px 6px 0px $orange-shade)
);

h1, h2, h3, h4, h5, h6, p, text {
    font-family: "AktivGrotesk";
    color: $default-text;
}

//reusable code

@mixin title{
    font-family: "AktivGrotesk";
}

@mixin button{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    right: 0.5rem;
    bottom: 0.5rem;

    &:hover{
        opacity: 70%;
    }

    &.img{
        height: 25px;
        color:"blue"
    }
}

@mixin vertical-layout{

    .description {
        width: 35%;
        height: 100%;
        // background-color: pink;
    
    
        .title {
            border-bottom: 1px solid $default-text;
    
            h3 {
                padding: 0rem 0.5rem 0rem 1rem;
            }
        }    
    }


    .chart {
        width: 65%;
    }
}

//breakpoints from bootstrap
//https://getbootstrap.com/docs/5.0/layout/breakpoints/

//media queries
@mixin media-s{
    @media screen and (min-width: 576px){
        @content;
    }
}

@mixin media-md{
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin media-lg{
    @media screen and (min-width: 992px){
        @content;
    }
}

@mixin media-xl{
    @media screen and (min-width: 1200px){
        @content;
    }
}

@mixin media-xxl{
    @media screen and (min-width: 1400px){
        @content;
    }
}
