@import 'node_modules/include-media/dist/_include-media.scss';
//fonts
@font-face {
    font-family: AktivGrotesk_bold;
    src: url('../fonts/aktiv/AktivGrotesk_Md.ttf');
}

@font-face {
    font-family: AktivGrotesk;
    src: url('../fonts/aktiv/AktivGrotesk_Rg.ttf');
}

@font-face {
    font-family: Chivo;
    src: url('../fonts/chivo/Chivo-Light.otf');
}

@import url("https://fonts.googleapis.com/css?family=Modak");
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

// breakpoints for responsive devices
$breakpoints: (
    phone: 320px,
    tablet: 768px,
    desktop: 940px
);

//colors
$taz-pink: #F00048;
$dark-pink: #E5144B;
$red: #FF7B7B;
$pink: rgb(255, 192, 192);
$pale-pink: #FFD5C8;

$dark-blue: #2A4D9C;
$dust-blue: rgb(71, 84, 117);
$blue: rgb(170, 210, 238);

$brown: #241212;
$taz-orange: #f6a119;
$orange-shade: rgba($taz-orange, 0.4);
$lighter-orange: rgba(255, 232, 201, 0.7);
$pale-olive: rgb(211, 186, 153);
$lighter-orange-full: #fff4e5;
$light: #fefaf6;

$mint-green: #1A8579;

$default-text: #484848;


//size variables
$postcardview-postcardwidth: 80vw;
$thumbnail-postcardwidth:30vw;
$portait-postcardwidth:85vw;

//effects
$boxshadow: (
    default: (3px 3px 0px rgba($pale-olive, 0.2)),
    hover: (4.5px 4.5px 0px rgba($pale-olive, 0.7))
);

h1, h2, h3, h4, h5, h6, p, text {
    font-family: "Chivo";
    color: $default-text;
}

p, text {
    font-family: "AktivGrotesk";
    color: $default-text;
}

//reusable code

@mixin title{
    font-family: "Chivo";
}

@mixin wordart-style-setup {
        .gruss-thumb {
            font-size: 0.9rem;
            margin: 0;
            z-index: 2;
        }

        .wordart {
            font-size: 1.5rem;
            width: 100%;
            margin: 0px;    
        }
}

@mixin wordart-style-1 {
    @include wordart-style-setup;
    transform: scale(0.8, 1.2) rotate(-2deg) translate(30px, 10px);

    .gruss-thumb {
        color: rgba(229, 20, 75, 1);
        margin-top: 0.5rem;
    }

    .wordart {
            transform: translateY(-10px);
            -webkit-background-clip: text;
            display:inline-block;
            padding-left: 7px;
            padding-right: 7px;
            padding-top: 7px;
            background-clip: text;
            font-family: 'Vampiro One', sans-serif;
            background-image: linear-gradient(0deg, rgba(246, 161, 25, 1) 0%, $blue 70%);
            -webkit-text-fill-color: transparent;
            // -webkit-text-stroke: 0.20px rgb(255, 101, 140);
            // text-shadow: 2px 2px 5px red;
            letter-spacing: -0.25vw;
            z-index: 1;
    }
}

@mixin wordart-style-2 {
    position: absolute;
    font-size: 1.65rem;
    width: 50%;
    margin: 0px;
    left: -3%;
    top: 22px;
    transform: scale(0.8, 1.2) rotate(-2deg);
    font-family: Impact, sans-serif;
    background: $dark-blue;
    background: linear-gradient(to right, $dark-blue 0%, $dark-pink 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.15vw;
    z-index: 1;
}

@mixin button{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    right: 0.5rem;
    bottom: 0.5rem;

    &:hover{
        opacity: 70%;
    }

    &.img{
        height: 25px;
        color:"blue"
    }
}

//reusable styles for postcards
@mixin postcard {
    z-index: -10;
    transition: 0.2s;
    background-color: $light;
    border: 1px solid $pale-olive;
    border-radius: 0px;
    box-shadow: map-get($map: $boxshadow, $key: default);

    &:hover {
        transition: 0.2s;
        box-shadow: map-get($map: $boxshadow, $key: hover);
    }

}

@mixin stacked-postcard {
    position: absolute;
    transition: 1000ms;
}

@mixin portrait-postcard {

}

// reusable layouts for vis
@mixin vertical-layout{
    display: inline-flex;
    .description {
        width: 35%;
        height: 100%;
    
    
        .title {
            border-bottom: 1px solid $default-text;
    
            h3 {
                padding: 0rem 0.5rem 0rem 1rem;
            }

            span {
                color: $dark-blue;
                text-decoration: underline;
            }
        }
        
        .legend {
            img {
                width: 100%;   
                height: auto;         
            }
        }
    }

    .visualization-container {
        width: 65%;
    }


    .chart {
        width: 100%;
        height: 100%;
    }

    &.is-thumbnail {
        display:block;
        .description {
            display: none;
        }

        .visualization-container {
            width: 100%;
            height: 100%;
        }

        .chart {
            width: 65%;
            height: 100%;
            position: relative;
            left: 20%;
        }
    }
}

@mixin horizontal-top-layout{

    .description {
        width: 100%;
        height: 20%;

        .title {
            border-bottom: 1px solid $default-text;
            margin: 0rem 1rem 0.5rem 1rem;
            
            h3 {
                margin: 0;
                padding-top: 1rem;
                padding-bottom: 1rem; 
            }
            
            span {
                color: $dark-blue;
                text-decoration: underline;
            }
        }
    }

    .chart {
        width: 100%;
        height: 100%;
    }

    .visualization-container {
        height: 80%;
    }
}

@mixin horizontal-bottom-layout {

    .description {
        width: 100%;
        height: 20%;

        .title {
            border-top: 1px solid $default-text;
            margin: 0rem 1rem 0.5rem 1rem;

            h3 {
                margin: 0;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }

            span {
                color: $dark-blue;
                text-decoration: underline;
            }
        }
    }

    .chart {
        width: 100%;
        height: 100%;
    }

    .visualization-container {
        height: 80%;
    }

}

@mixin responsive-layout {
    @include media(">phone", "<=tablet") {
        @include horizontal-top-layout
    }
    
    @include media(">=tablet") {
        @include vertical-layout()
    }
}
