// Generic responsive rules for smaller devices
// For cards with vertical layouts a mixin called `responsive-layout`
// handles the switch to an horizontal layout

// variables method based on github.com/eduardoboucas/include-media
@import '_config.scss';

@include media('<=desktop') {
  body {
    background-color: lightgoldenrodyellow;
    .indicators-iframe {
      .main-container {
        .side-container {
          width: $tablet-postcardview-postcardwidth;
          height: calc($tablet-postcardview-postcardwidth/1.6);
        }

        .button-container {
          .inner-button {
            .close {
              margin-top: 12%;
              margin-right: -0.5rem;
            }
          }
          .button-switch-container {
            .inner-button {
              .switch-preview {
                font-size: 10px;
              }
            }

            .button-left,
            .button-right {
              width: 7%;
            }
          }
        }

        .flip {
          bottom: 0.5rem;
          right: 0.5rem;

          img {
            max-width: 25px;
          }
        }

        .card-collection {
          .card {
            .card-front,
            .card-back {
              .overlay-container {
                height: 10%;
              }
              .side-inner {
                height: 90%;
              }
              .details-container {
                height: 100%;
              }
            }
            .details-container {
              .flex-container {
                height: 100%;
                .text-container {
                  margin-bottom: 1rem;
                  .text-inner-container {
                    .section-title {
                      display: none;
                    }
                    .section-text {
                      height: 92%;
                    }
                  }
                }
                .data-container {
                  height: 92%;
                  .lk-list {
                    height: calc(60% - 1px);
                    .list-similar-container {
                      h5 {
                        position: sticky;
                        top: 0;
                      }
                      ol {
                        font-size: 14px;
                      }
                    }
                  }
                  .locator-map {
                    .locator-container {
                      height: 123px;
                      width: 95%;

                      .locator-background {
                        .map-paths {
                          path {
                            stroke-width: 0.2px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
            .Ge-chart {
              .newbuildings-energy {
                h4 {
                  margin-bottom: 0rem;
                }
                .legend-inner {
                  font-size: 12px;
                  .erneuerbare,
                  div.erneuerbare {
                    margin-bottom: 0.5rem;
                  }
                }
              }
              .avg-heating {
                .visualization-container {
                  svg {
                    .non-clipped-elements {
                      text {
                        -webkit-transform: translate(-5px, 0);
                        transform: translate(-5px, 0);
                      }
                    }
                  }
                }
              }
            }
            .horizontal-bottom-layout {
              .description {
                h4 {
                  width: 95%;
                  //font-size: 14px;
                }
              }
            }
            .Ab-chart {
              .visualization-container {
                height: 75%;

                .controls-container {
                  .legend {
                    -webkit-transform: translateY(1%);
                    transform: translateY(1%);
                    .biotonne {
                      -webkit-transform: translateX(10%);
                      transform: translateX(10%);

                      text {
                        -webkit-transform: translateX(12%) translateY(0.5%);
                        transform: translateX(12%) translateY(0.5%);
                      }
                    }

                    .gartenPark {
                      -webkit-transform: translateX(16%);
                      transform: translateX(16%);

                      text {
                        -webkit-transform: translateX(18%) translateY(0.5%);
                        transform: translateX(18%) translateY(0.5%);
                      }
                    }

                    .highest-value {
                      -webkit-transform: translateX(0%);
                      transform: translateX(0%);

                      text {
                        -webkit-transform: translateX(2%) translateY(0.5%);
                        transform: translateX(2%) translateY(0.5%);
                      }
                    }
                  }

                  .pie-controller {
                    -webkit-transform:translateX(60%) translateY(-2.5%);
                    transform: translateX(60%) translateY(-2.5%);
                    .pie-icon {
                      -webkit-transform: scale(0.6);
                      transform: scale(0.6);
                    }
                  }
                }
              }
            }


            .is-thumbnail {
              .visualization-container {
                height: 100%;
              }
            }
          }
        }

        .info-container {
          .info-container-content {
            &.open {
              max-height: 80vh;
              height: auto;
              transform: translate(20px, -80vh * 0.95) rotate(2deg);
              -webkit-transform: translate(20px, -80vh * 0.95) rotate(2deg);

              .help {
                max-height: 80vh;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}

@include media('<=tablet') {
  body {
    background-color: rgb(170, 170, 245);

    h4 {
      font-size: 14px;
    }

    .chart {
      text {
        font-size: 12px;
      }
    }

    .indicators-iframe {
      .main-container {
        .side-container {
          width: $minitablet-postcardview-postcardwidth;
          height: calc($minitablet-postcardview-postcardwidth/1.6);
        }

        .button-container {
          .inner-button {
            height: 82%;
            .close {
              margin-top: 18%;
              margin-right: -0.5rem;
            }
          }

          .button-switch-container {
            justify-content: center;
            height: 10%;

            .inner-button {
              .switch-preview {
                font-size: 12px;
              }
            }

            .button-left,
            .button-right {
              width: 9%;
              margin-left: 0.5rem;
              margin-right: 0.5rem;
            }
          }
        }

        .word-art-title {
          width: 65%;

          .wordart {
            font-size: 2rem;
            line-height: 1.75rem;
            overflow: visible;
            padding-top: 10px;
            padding-bottom: 5px;
          }
        }

        .selection-container {
          flex-direction: row;

          .selector {
            &.section {
              &.mode-comparison {
                width: 35%;
              }
            }

            &.lk {
              display: inline-block;
              &.mode-comparison {
                width: 80%;
              }
              &.mode-lk {
                width: 40%;
              }
            }
          }
        }

        .titleArtHidden {
          display: block;
        }

        .social-media-layout {
          .logo-container {
            height: 0.8rem;
            min-height: 0.5rem;
            bottom: 8px;
            left: 8px;
          }

          .word-art-title {
            -webkit-transform: scale(0.6, 0.8) rotate(-3deg) translate(60px, 10px);
            transform: scale(0.6, 0.8) rotate(-3deg) translate(60px, 10px);
          }
        }

        .card-collection {
          .card {
            .card-preview {
              .overlay-inner {
                .section-thumb {
                  .indicator-ranking {
                    p {
                      padding: 0.5rem;
                    }
                  }
                }
              }
            }

            .card-front,
            .card-back {
              .side-outer {
                .overlay-container {
                  height: calc(14% - 1rem);

                  &.overlay-container-back {
                    position: absolute;
                    .overlay-inner {
                      background-color: transparent;
                      border: none;
                      .section-thumb {
                        display: none;
                      }
                    }
                  }

                  .overlay-inner {
                    .section-thumb {
                      .word-art-title {
                        display: none;
                      }
                    }

                    .postcard-title {
                      h4 {
                        margin: 0;
                        margin-top: 0.1rem;
                        -webkit-transform: translate(0px, 0px) !important;
                        transform: translate(0px, 0px) !important;
                      }
                    }

                    .button-toggle-container {
                      -webkit-transform: translate(0px, 0px) !important;
                      transform: translate(0px, 0px) !important;

                      padding .arrow-pointer {
                        margin-top: 0.2rem;
                        height: calc(100% - 0.2rem);
                      }

                      svg {
                        .toggle {
                          display: none;
                        }

                        .toggleResponsive {
                          display: block;
                        }
                        .mobile-toggle-label {
                          display: none;
                        }

                        text {
                          font-size: 14px;
                          margin: 0;
                          padding: 0;
                        }

                        .togglePhone {
                          display: none;
                        }

                        .controller-bg {
                          cursor: pointer;
                          fill: url(#MyGradient);
                          stroke: $default-text;
                        }
                      }
                    }
                  }
                }
              }
              .side-inner {
                height: calc(86% + 1rem);

                &.side-inner-back {
                  height: 100%;
                }
              }
            }

            .details-container {
              .flex-container {
                height: 100%;
                .text-container {
                  // margin-bottom: 1rem;
                  .text-inner-container {
                    .section-title {
                      display: block;
                      font-size: 0.9rem;
                      h2 {
                        padding-top: 1rem;
                      }
                    }
                    .section-text {
                      height: 85%;
                    }
                  }
                }
                .data-container {
                  height: 88%;

                  .locator-map {
                    .locator-container {
                      height: 110px;
                      // width: 89%;
                    }
                  }
                }
              }
            }
            .Mo-chart {
              .car-density {
                .chart {
                  transform: translate(-10px, -10px) skew(-17deg, 0deg) scale(0.85);
                  -webkit-transform: translate(-10px, -10px) skew(-17deg, 0deg) scale(0.85);
                }
              }
              .modal-split {
                .visualization-container {
                  .chart {
                    .paths {
                      text {
                        font-size: 12px;
                      }
                    }
                    .icon {
                      display: none;
                    }
                    .no-icon {
                      display: inline-block;
                    }
                  }
                }
              }
            }

            .Ge-chart {
              .newbuildings-energy {
                h4 {
                  font-size: 14px;
                  font-weight: 'medium';
                }
                .description {
                  width: 43%;
                  .caption {
                    p {
                      font-size: 12px;
                    }
                  }
                  .legend {
                    .legend-element {
                      p {
                        &:hover {
                          font-weight: 600;
                        }
                      }
                    }
                  }
                }
              }
              .avg-heating {
                .visualization-container {
                  svg {
                    .non-clipped-elements {
                      text {
                        -webkit-transform: translate(-10px, 0);
                        transform: translate(-10px, 0);
                      }
                    }
                  }
                }
              }
            }

            .La-chart {
              .animal-density {
                .caption {
                  p {
                    font-size: 12px;
                  }
                }
                .legend {
                  svg {
                    height: 100px;
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }

        .sources-container {
          .sources-text-container {
            .sources-text {
              h3 {
                font-size: 16px;
              }

              h4 {
                font-size: 14px;
              }
              p {
                font-size: 14px;
              }
              .sources-linklist {
                p {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .info-container {
          .info-container-content {
            &.open {
              width: 80vh * 0.65;
            }
          }
        }
      }
    }
  }
}

@include media('<=schwerpunkt') {
  body {
    background-color: lightcoral;

    .indicators-iframe {
      .main-container {
        .side-container {
          width: $schwerpunkt-postcardview-postcardwidth;
          height: calc($schwerpunkt-postcardview-postcardwidth/1.6);
        }
        .card-preview {
          .side-outer {
            .overlay-container {
              .section-thumb {
                .indicator-ranking {
                  max-width: 80%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media('<=minitablet') {
  body {
    background-color: peachpuff;

    h4 {
      font-size: 12px;
    }

    .visualization-container {
      .chart {
        text {
          font-size: 10px;
        }
      }
    }

    .indicators-iframe {
      .main-container {
        .overlay-container {
          .section-title {
            font-size: 14px;
          }
        }
        .button-container {
          .inner-button {
            height: 79%;
            .close {
              margin-top: 25%;
              margin-right: -0.25rem;
            }
          }
        }

        .flip {
          right: 0;
          img {
            max-width: 50px;
          }
        }

        .card-collection {
          .card {
            //thumbnail
            &-ordered {
              //original ratio changed for styling
              width: 40vw;
              height: calc(40vw / 1.5);
            }
            .card-front,
            .card-back {
              .side-outer {
                .overlay-container {
                  height: calc(14% - 0.5rem);
                }

                .side-inner {
                  height: calc(86% + 0.5rem);
                  &.side-inner-back {
                    height: 100%;
                  }
                }
              }
            }

            .Mo-chart {
              .car-density {
                .visualization-container {
                  .chart {
                    transform: translate(-10px, 0px) skew(-17deg, 0deg) scale(0.85);
                    -webkit-transform: translate(-10px, 0px) skew(-17deg, 0deg) scale(0.85);
                  }
                }
                .description {
                  .title {
                    h4 {
                      padding-right: 0;
                    }
                  }
                }
              }
              .modal-split {
                .visualization-container {
                  .chart {
                    .paths {
                      text {
                        font-size: 10px;
                      }
                    }
                    text {
                      &.icon {
                        display: none;
                      }
                    }
                    .bar-percentage-trip {
                      text {
                        -webkit-transform: translateY(9px);
                        transform: translateY(9px);
                      }
                    }
                    .icon {
                      -webkit-transform: translateY(9px);
                      transform: translateY(9px);
                      display: inline-block;
                    }
                    .no-icon {
                      display: none;
                    }
                  }
                }
              }
            }

            .Ab-chart {
              .visualization-container {
                height: 74%;
                .controls-container {
                  .legend {
                    -webkit-transform: translateY(1%);
                    transform: translateY(1%);

                    .biotonne {
                      -webkit-transform: translateX(13%);
                      transform: translateX(13%);

                      text {
                        -webkit-transform: translateX(15%) translateY(0.5%);
                        transform: translateX(15%) translateY(0.5%);
                      }
                    }

                    .gartenPark {
                      -webkit-transform:translateX(20%);
                      transform: translateX(20%);

                      text {
                        -webkit-transform:translateX(22%) translateY(0.5%);
                        transform: translateX(22%) translateY(0.5%);
                      }
                    }
                  }

                  .pie-controller {
                    -webkit-transform: translateX(59%) translateY(-2.5%);
                    transform: translateX(59%) translateY(-2.5%);

                    .pie-icon {
                      -webkit-transform:scale(0.5);
                      transform: scale(0.5);

                      path {
                        stroke-width: 2px;
                      }
                    }
                  }
                }
                .chart {
                  .highest-value,
                  .detail-label {
                    text {
                      font-size: 12px;
                    }
                  }
                  .max {
                    line {
                      stroke: $default-text;
                    }
                    text {
                      fill: $default-text;
                    }
                  }
                }
              }
              .description {
                span {
                  &.footnote {
                    font-size: 10px;
                  }
                }
              }
            }

            .Ge-chart {
              .newbuildings-energy {
                .legend {
                  .legend-elements-container {
                    flex-direction: row;
                    justify-content: flex-end;
                    @include newbuildings-label-update(fossile, $fossile);
                    @include newbuildings-label-update(gas, $gas);
                    @include newbuildings-label-update(geothermie, $geothermie);
                    @include newbuildings-label-update(erneuerbare, $erneuerbare);
                    @include newbuildings-label-update(umweltthermie, $umweltthermie);
                    @include newbuildings-label-update(fernkälte, $fernkälte);
                    @include newbuildings-label-update(holz, $holz);
                    @include newbuildings-label-update(solarthermie, $solarthermie);
                    @include newbuildings-label-update(biomethan, $biomethan);
                    @include newbuildings-label-update(biomasse, $biomasse);
                    @include newbuildings-label-update(keine, $keine);
                    @include newbuildings-label-update(oel, $oel);
                    @include newbuildings-label-update(heizenergie, $heizenergie);
                    @include newbuildings-label-update(strom, $strom);

                    .legend-element {
                      display: none;
                      &.selected {
                        border-radius: 2px;
                        background-color: white;
                        border-width: 1px;
                        border-style: solid;
                        //box-shadow: 2px 2px 0px $default-text;
                        display: inline-flex;

                        .element-color {
                          display: none;
                        }

                        p {
                          font-weight: 400;
                          font-size: 11px;
                          margin: 0.1rem;
                        }
                      }
                    }
                  }
                }
                // .caption {
                //   .energy-number {
                //     font-weight: 600;
                //   }
                // }
              }
              .avg-heating {
                .visualization-container {
                  -webkit-transform: translatey(-10px);
                  transform: translatey(-10px);
                  svg {
                    .clipped-container {
                      .chart-axis {
                        .bar-axis {
                          .energy-class-rect {
                            width: 20px;
                          }
                          text {
                            -webkit-transform: translateX(-5px);
                            transform: translateX(-5px);
                          }
                          .energy-class-value {
                            -webkit-transform: translateX(0px);
                            transform: translateX(0px);
                          }
                        }
                      }
                    }
                    .non-clipped-elements {
                      text {
                        -webkit-transform: translate(-15px, 0);
                        transform: translate(-15px, 0);
                        &.year-odd {
                          display: none;
                        }
                        &.measure-label {
                          -webkit-transform: translate(9px, 0);
                          transform: translate(9px, 0);
                        }
                      }
                    }
                  }
                }
              }
            }

            .La-chart {
              .description {
                .title {
                  h4 {
                    padding-right: 0;
                  }
                }
                .caption {
                  display: none;
                }
              }
            }

            .En-chart {
              .visualization-container {
                .chart {
                  .y-axis,
                  .x-axis {
                    text {
                      font-size: 10px;
                    }
                  }
                }
              }
            }


            .is-thumbnail {
              .visualization-container {
                height: 100%;
              }
            }

            .details-container {
              .flex-container {
                .text-container {
                  .text-inner-container {
                    overflow-y: scroll;
                    .section-title {
                      //display: none;
                      h2 {
                        font-size: 14px;
                        font-weight: bold;
                      }
                    }
                    .section-text {
                      overflow-y: visible;
                    }
                  }
                }
                .data-container {
                  
                  .locator-map {
                    .locator-container {
                      height: 100%;

                      .locator-zoom {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .info-container {
          .info-container-content {
            &.open {
              -webkit-transform: translate(20px, -65vh) rotate(2deg);
              transform: translate(20px, -65vh) rotate(2deg);

              //   .help {
              //     height: 65vh;
              //   }
            }
          }
          h4 {
            font-size: 14px;
          }
          p {
            font-size: 14px;
          }
        }
        .sources-container {
          width: 80%;
          .sources-button {
            width: 25px;
            height: 25px;
            right: 1rem;
            bottom: 1rem;
            .info-i {
              font-size: 0.75rem;
            }
          }
          &.open {
            width: 80%;
            transform: translate(0);
            -webkit-transform: translate(0);
          }

          .info-text-label {
            width: 10rem;
          }

          .sources-text-container {
            height: 80vh;
            transform: translate(-16%, -100%);
            -webkit-transform: translate(-16%, -100%);

            .sources-text {
              height: 80vh;
            }
          }
        }
        .selection-container {
          .selector {
            &.lk {
              &.mode-lk {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}

@include media('<shortread') {
  body {
    background-color: aqua;

    h4 {
      font-size: 12px;
    }

    .indicators-iframe {
      .main-container {
        margin-top: 10px;
        .titleArtHidden {
          display: none;
        }

        .word-art-title {
          bottom: 0.5rem;
          -webkit-transform: scale(0.9, 1.2) rotate(-4deg) translate(-20px, -10px);
          transform: scale(0.9, 1.2) rotate(-4deg) translate(-20px, -10px);

          .wordart {
            line-height: 1.5rem;
            overflow: visible;
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }

        .selection-buttons {
          .selection-container {
            display: block;
            margin-bottom: 0.5rem;
            position: relative;
            width: 100%;

            .selector {
              width: 90%;
              margin: 0.25rem 1rem;

              &.lk {
                display: none;
              }
              &.lk-mobile {
                display: inline-block;
              }

              &.section {
                width: 90%;
              }
            }
          }
        }

        .card-collection {
          width: 100%;
          align-content: flex-start;

          .card-container {
            align-content: flex-start;

            &.carousel {
              align-content: center;
              justify-content: space-around;
              padding-left: 0;
            }

            &.stacked {
              //comparison view
              &.twocards,
              &.default {
                .card {
                  &-ordered {
                    margin: 0;
                    width: calc($portait-postcardwidth/2.3);
                    height: calc($portait-postcardwidth/1.8);
                  }
                }
              }
            }
          }

          .chart-container {
            .svg-container {
              .description {
                .title {
                  margin: 0 auto !important;

                  h4 {
                    padding-bottom: 0.5rem !important;
                  }
                }
              }

              .vertical-layout {
                .description {
                  h4 {
                    font-size: 1rem;
                  }
                }
              }

              .horizontal-bottom-layout {
                .description {
                  width: 100%;
                  h4 {
                    font-size: 1rem;
                  }
                }
              }

              &.En-chart {
                .visualization-container {
                  height: 80%;
                  .chart {
                    .y-axis,
                    .x-axis {
                      text {
                        font-size: 12px;
                      }
                    }
                    .description {
                      height: 15%;
                    }
                  }
                }

                .energy-industry {
                  .description {
                    .title {
                      h4 {
                        font-size: 0.9rem;
                      }
                    }
                  }
                }
              }

              &.La-chart {
                .animal-count {
                  .description {
                    height: 25%;
                  }

                  .visualization-container {
                    height: 75%;
                    .label-container {
                      transform: translateY(28px);
                      -webkit-transform: translateY(28px);
                    }

                    .arcs,
                    .x-axis-container {
                      transform: translateY(-60px);
                      -webkit-transform: translateY(-60px);

                      .animal-label {
                        transform: translateY(20px);
                        -webkit-transform: translateY(20px);
                        font-size: 14px;
                      }
                    }

                    .axis {
                      .year-label {
                        font-size: 12px;
                        transform: translateX(-20px);
                        -webkit-transform: translateX(-20px);
                      }
                    }

                    .legend {
                      transform: translateY(90%);
                      -webkit-transform: translateY(92%);
                      .label-item {
                        transform: translate(20px, -5px);
                        -webkit-transform: translate(20px, -5px);

                        &.vorherigeZaehlung {
                          transform: translate(-220px, 15px);
                          -webkit-transform: translate(-220px, 15px);
                        }
                      }
                    }
                  }
                }

                .animal-density {
                  .description {
                    height: 45%;
                    position: absolute;
                    bottom: 0;
                    margin-left: 1rem;
                    width: auto;

                    .caption {
                      display: inline-block;
                      font-size: 12px;
                      margin-right: 1rem;
                      transform: translate(0, 60px);
                      -webkit-transform: translate(0, 60px);
                    }

                    .legend {
                      margin-top: 2rem;
                      transform: translate(0, -110px);
                      -webkit-transform: translate(0, -110px);

                      .legend-item {
                        font-size: 12px;
                        &.unter-label {
                          transform: translate(140px, 0px);
                          -webkit-transform: translate(140px, 0px);
                        }
                      }
                    }
                    .title {
                      margin: 0 !important;
                    }
                  }

                  .visualization-container {
                    height: 55%;
                    .chart {
                      transform: translateY(-30px);
                      -webkit-transform: translateY(-30px);
                      .bars {
                        -webkit-transform: translateY(10px);
                        transform: translateY(10px);
                        .year-label {
                          font-size: 14px;
                        }
                      }
                    }
                  }
                }

                .is-thumbnail {
                  .visualization-container {
                    .chart {
                      transform: translateY(1.5rem);
                      -webkit-transform: translateY(1.5rem);
                    }
                  }
                }
              }

              &.Mo-chart {
                .car-density {
                  .description {
                    height: 20%;
                    position: absolute;
                    bottom: 1rem;

                    .title {
                      margin: 0 auto;
                      h4 {
                        padding-bottom: 0.5rem;
                      }
                    }

                    .legend {
                      display: none;
                    }
                  }

                  .visualization-container {
                    transform: scale(0.9);
                    -webkit-transform: scale(0.9);

                    .chart {
                      &.active-chart {
                        transform: skew(0deg, 0deg) translate(10px, -15px);
                        -webkit-transform: skew(0deg, 0deg) translate(10px, -15px);
                      }

                      &.thumbnail-chart {
                        transform: skew(0deg, 0deg);
                        -webkit-transform: skew(0deg, 0deg);
                        .cars-container {
                          transform: translate(20px, 0px);
                          -webkit-transform: translate(20px, 0px);
                        }
                      }
                    }
                  }
                }
                .modal-split {
                  .description {
                    height: 20%;
                    h4 {
                      font-size: 1rem;
                    }
                  }
                  .visualization-container {
                    height: 80%;
                    .chart {
                      .bar-percentage-trip {
                        display: none;
                      }
                      .paths {
                        text {
                          font-size: 12px;
                        }
                        &.icon {
                          display: inline-block;
                        }
                        .no-icon {
                          display: none;
                        }
                        .icon {
                          display: inline-block;
                        }
                      }
                    }
                  }
                }
              }

              &.Ab-chart {
                .biotonne-weight {
                  .description {
                    height: 15%;

                    span {
                      &.footnote {
                        font-size: 1rem;
                      }
                    }
                  }
                  .visualization-container {
                    height: 70%;

                    .chart {
                      text {
                        font-size: 10px;

                        &.odd-year {
                          visibility: hidden;
                        }
                      }
                    }

                    .y-axis {
                      line {
                        stroke: rgb(217, 203, 181);
                      }
                    }

                    .controls-container {
                      visibility: hidden;
                    }
                    .max {
                      line {
                        stroke: $red;
                      }
                      text {
                        fill: $red;
                      }
                    }
                  }
                }
              }

              &.Ge-chart {
                .newbuildings-energy {
                  .description {
                    width: 100%;
                    .title {
                      margin: 0 auto;
                      h4 {
                        font-size: 1rem;
                        padding-bottom: 0.5rem;
                      }
                    }

                    height: 30%;
                    position: absolute;
                    bottom: 0;

                    .caption {
                      display: none;
                    }

                    .legend {
                      // position: absolute;
                      // bottom: 0;
                      height: 19%;
                      width: 95%;
                      display: inline-block;

                      .legend-inner {
                        font-size: 12px;
                        // position: absolute;
                        width: 100%;
                        bottom: 1rem;

                        .legend-elements-container {
                          display: flex;
                          flex-direction: row;
                          flex-wrap: wrap;
                          justify-content: flex-start;

                          .legend-element {
                            display: flex;
                            flex: 0 1 auto;
                            margin-left: 10px;
                            color: $default-text;
                            border: none;
                            box-shadow: none;

                            .element-color {
                              align-self: center;
                              border: none;
                              box-shadow: none;
                            }
                            p {
                              color: $default-text;
                            }

                            &.selected {
                              .element-color {
                                display: inline-block;
                              }
                              p {
                                margin: 0;
                                margin-left: 5px;
                                font-size: 12px;
                                font-weight: 800;
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .visualization-container {
                    height: 70%;
                    .chart {
                      -webkit-transform: translate(0, 10px);
                      transform: translate(0, 10px);
                    }
                  }
                  &.is-thumbnail {
                    .description {
                      display: none;
                    }
                  }

                  .erneuerbare,
                  div.erneuerbare {
                    margin-bottom: 0;
                  }
                }

                .avg-heating {
                  .description {
                    height: 15%;
                    h4 {
                      font-size: 1rem;
                    }
                  }

                  .visualization-container {
                    height: 85%;
                    transform: translateY(-15px);
                    -webkit-transform: translateY(-15px);

                    .chart {
                      .non-clipped-elements {
                        -webkit-transform: translate(-28px, 0);
                        transform: translate(-28px, 0);

                        .measure-label {
                          -webkit-transform: translate(-75%, 0);
                          transform: translate(-75%, 0);
                        }
                      }
                    }
                  }
                }
              }

              .is-thumbnail {
                &.horizontal-bottom-layout {
                  .visualization-container {
                    height: 100%;
                  }
                }
              }
            }
          }

          .card {
            //thumbnail
            &-ordered {
              //original ratio changed for styling
              width: calc($portrait-minitablet-postcardwidth/2.1);
              height: calc($portrait-minitablet-postcardwidth/1.5);
            }
            .card-front {
              .side-outer {
                .overlay-container {
                  height: calc(10% - 1rem);

                  .overlay-inner {
                    .section-thumb {
                      .word-art-title {
                        display: none;
                      }
                    }

                    .postcard-title {
                      h4 {
                        margin: 0;
                        margin-top: 0.2rem;
                        -webkit-transform: translate(0px, 0px) !important;
                        transform: translate(0px, 0px) !important;
                      }
                    }

                    .button-toggle-container {
                      -webkit-transform: translate(0px, 0px) !important;
                      transform: translate(0px, 0px) !important;

                      .arrow-pointer {
                        margin-top: 0.2rem;
                        height: calc(100% - 0.2rem);
                      }

                      svg {
                        .toggle {
                          display: none;
                        }

                        .toggleResponsive {
                          display: block;
                        }

                        text {
                          font-size: 14px;
                          margin: 0;
                          padding: 0;
                        }

                        .toggle {
                          display: none;
                        }
                        .toggleResponsive {
                          display: none;
                        }

                        .togglePhone {
                          display: block;
                        }

                        .controller-bg {
                          cursor: pointer;
                          fill: url(#MyGradient);
                          stroke: $default-text;
                        }
                      }
                    }
                  }
                }

                .side-inner {
                  height: calc(90% + 1rem);

                  .details-container {
                    height: 100%;

                    .flex-container {
                      display: block;
                      position: relative;

                      .text-container {
                        width: 100%;
                        overflow: hidden;
                        position: absolute;
                        border: none;
                        z-index: 1;

                        .text-inner-container {
                          margin-top: 3rem;
                          height: 80%;

                          .section-title {
                            margin-bottom: 0;
                            padding-top: 2rem;
                          }

                          .section-text {
                            margin-top: 0;
                            height: 80%;
                            position: relative;
                            overflow: scroll;

                            p {
                              margin-top: 0.5rem;
                            }
                          }
                        }
                      }

                      .data-container {
                        background-color: $light;
                        position: absolute;
                        width: 100%;
                        height: 30%;
                        top: 0;
                        border: none;

                        .locator-map {
                          border: none;
                          height: 70%;
                          margin-top: 0.5rem;

                          .locator-container {
                            height: 100%;
                            display: flex;
                            justify-content: right;

                            .locator-zoom {
                              margin-left: 0;
                              text-align: right;
                              display: flex;
                              justify-content: right;
                              width: 25%;
                            }

                            .locator-background {
                              width: 25%;
                            }
                          }
                        }

                        .lk-list {
                          display: none;
                        }
                      }
                    }

                    .footer-container {
                      height: 10%;
                      width: 100%;
                      border-top: 1px solid #484848;
                      .footer-inner-container {
                        height: 100%;
                        display: inline-block;
                        margin: 0rem 0rem 0rem 1rem;

                        .logo-container {
                          display: none;
                        }

                        .info-backside {
                          line-height: 20px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .info-container {
          width: 25%;
          position: absolute;
          .info-container-content {
            width: 30px;
            height: 30px;

            .help {
              h2.mobile-title {
                display: block;
                text-align: center;
                margin: 0;
              }

              h4.desktop-title {
                display: none;
              }
            }

            &.open {
              width: calc($portait-postcardwidth/1.2);
              height: calc($portait-postcardwidth * 1.2);
              transform: translate(-100%, -70%) rotate(-2deg);
              -webkit-transform: translate(-100%, -70%) rotate(-2deg);

              .help {
                height: calc($portait-postcardwidth * 1.2);
              }

              h4.desktop-title {
                display: block;
              }

              h2.mobile-title {
                display: none;
              }
            }
          }
        }

        .sources-container {
          .info-text-label {
            display: none;
          }
        }

        .button-container {
          .button-switch-container {
            display: none;
          }

          .inner-button {
            .close {
              margin-top: 1rem;
            }
          }
        }

        //postcardview
        .side-container {
          width: calc($portait-postcardheight/1.5);
          height: calc($portait-postcardheight);
        }
      }
    }
  }
}

@include media('<=largephone') {
  body {
    background-color: violet;

    .indicators-iframe {
      margin-right: 5.55%;
      margin-left: 5.55%;
      .main-container {
        .word-art-title {
          bottom: 1rem;
        }

        .selection-buttons {
          .selection-container {
            margin: 0;
          }
        }

        .info-container {
        }

        .sources-container {
        }

        .card-collection {
          margin-top: -10px;
          height: 100vh;
          margin: 0 auto;
          width: 95%;

          .carousel-container {
            // margin-top: 5rem;
          }

          .card-container {
            height: 100vh;
            justify-content: left;
            padding-left: 0.5rem;
            margin-top: -0.6rem;
          }
          .chart-container {
            .Mo-chart {
              .icon {
                display: none;
              }
              .no-icon {
                display: inline-block;
              }
            }
          }
        }

        .card {
          &-ordered {
            margin: 0.5rem 0.5rem -20px 1rem;
            //original ratio changed for styling
            width: calc($portait-postcardwidth/2.3);
            height: calc($portait-postcardwidth/1.8);
          }
        }

        .side-container {
          width: $portait-postcardwidth;
          height: calc($portait-postcardwidth * 1.5);
        }
      }
    }
  }
}
