
// Generic responsive rules for smaller devices
// For cards with vertical layouts a mixin called `responsive-layout`
// handles the switch to an horizontal layout

// variables method based on github.com/eduardoboucas/include-media

/*Tablet*/
@include media(">=tablet", "<desktop") {
    body {
        background-color: lightblue;
    }
}

/* Phones */
@include media(">phone", "<=tablet") {
    body {
        h3 {
            font-size: 16px;
        }
    }

    .indicators-iframe {
        max-width: 375px;
        .main-container {
            margin-top: 10px;
            .selection-buttons {
                .selection-container {
                    display:block;
                    margin-bottom: 0.5rem;
                    .selector {
                        width: 90%;
                    }
                }
            }

            .card-collection {
                margin-top: -10px;
                height: 100vh;
                .card-container {
                    height: 100vh;

                    &.messy {
                        margin-top: -10vh;                    
                    }

                    &.stacked {
                            align-content: baseline;
                    }
                }
            }

            .info-container {
                .help {
                    width: 50px;
                    height: 50px;

                    h2.mobile-title {
                        display: block;
                        text-align: center;
                        margin: 0;
                    }

                    h4.desktop-title {
                        display: none;
                    }

                    &.help-postcard {
                        width: $portait-postcardwidth;
                        height: calc($portait-postcardwidth*1.5);
                        transform: translate(0, -50%) rotate(5deg);

                        h4.desktop-title {
                            display: block; 
                        }

                        h2.mobile-title {
                            display: none;
                        }
                    }
                }
            }

            .button-container {
                .inner-button {
                .close {
                        margin-top: 2.5rem;
                        margin-right: 0rem;
                    }                
                }
            }
        }
    }

    .card {
        &-ordered {
            //original ratio changed for styling
            width: calc($portait-postcardwidth/2.3);
            height: calc($portait-postcardwidth/1.8);
            z-index: 0;
            margin: -6px 0px -15px 0px;
        }

        &.card-active {
            .side-inner {
                .details-container {
                    height: 90%;

                    .flex-container {
                        display: block;
                        position: relative;

                        .text-container {
                            width: 100%;
                            position: absolute;
                            border: none;
                            z-index: 1;
                            overflow: hidden;

                            .text-inner-container {
                                margin-top: 25%;

                                .section-title {
                                    margin-bottom: 0;
                                }

                                .section-text {
                                    margin-top: 0;

                                    p {
                                        margin-top: 5px;
                                    }
                                }
                            }
                        }

                        .data-container {
                            position: absolute;
                            width: 90%;
                            height: 25%;
                            top: 0;
                            right: 0;
                            z-index: 0;

                            .locator-map {
                                border: none;
                                height: 100%;

                                .locator-container {
                                    height: 100%;

                                    .locator-zoom {
                                        margin-left: 0;
                                        text-align: right;
                                        display: flex;
                                        justify-content: right;
                                    }

                                    .locator-background {
                                        width: 40%;
                                    }
                                }
                            }

                            .lk-list {
                                display: none;
                            }
                        }
                    }

                    .footer-container {
                        height: 10%;
                        .footer-inner-container {
                            height: 100%;
                            display: inline-block;
                            margin: 0rem 0rem 0rem 1rem;
                            .logo-container {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .card-preview {
        .side-inner {
            clip-path: circle(35%);
        }
    }

    .side-container {
        width: $portait-postcardwidth; //60vw
        height: calc($portait-postcardwidth*1.5);
    }

    .chart-container {
        .svg-container {
            &.En-chart {
                .energy-industry, .primary-energy {
                    .visualization-container {
                        height: 75%;
                    }
                }
            }

            &.Mo-chart {
                .car-density {
                    .description {
                        .legend {
                            background-image: url('../img/legends/MoCarDensity-mobile.svg');
                            transform: scale(0.9);
                            margin-top: 0;
                        }
                    }
    
                    .visualization-container {
                        transform: scale(0.9);
    
                        .chart {
                            &.active-chart {
                                transform: skew(0deg, 0deg);
                            }
    
                            &.thumbnail-chart {
                                transform: skew(0deg, 0deg);
                                .cars-container {
                                    transform: translate(20px, 0px);
                                }
                            }
                        }
                    }
    
                    &.is-thumbnail {
                        .description {
                            display: none;
                        }
    
                        .visualization-container {
                            height: 100%;
                        }
                    }
                }

                .modal-split {
                    .visualization-container {
                        .chart {
                            .bar-percentage-trip {
                                display: none;
                            }
                        }
                    }
                }
            }
    
            &.Ab-chart {
                .biotonne-weight {
                    .visualization-container {
                        height: 60%;

                        .chart {
                            text {
                                font-size: 10px;

                                &.odd-year {
                                    visibility: hidden;
                                }
                            }
                        }

                        .y-axis {
                            line {
                                stroke: rgb(217, 203, 181);
                            }
                        }

                        .controls-container {
                            visibility: hidden;
                        }
                    }
                }
            }

            &.Ge-chart {
                .newbuildings-energy {
                    .description {
                        height: 19%;
                        .caption {
                            display: none;
                        }

                        .legend {
                            position: absolute;
                            bottom: 0;
                            height: 19%;
                            width: 100%;
                            
                            .legend-inner {
                                font-size: 12px;
                                position: absolute;
                                width: 100%;
                                bottom: 1rem;
                        
                                .legend-elements-container {
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                        
                                    .legend-element {
                                        display: flex;
                                        flex: 0 1 auto;
                                        margin-left: 10px;
                                    }
                                }
                            }
                        }
                    }

                    .visualization-container {
                        height: 70%;
                    }
                    &.is-thumbnail {
                        .description {
                            display: none;
                        }
                    }
                }
            }
        }

    }
}