
/* Phones */
@include media(">phone", "<=tablet") {

    .indicators-iframe {
        .main-container {
            .selection-buttons {
                .selection-container {
                    display:block;
                    margin-bottom: 0.5rem;
                    .selector {
                        width: 90%;
                    }
                }
            }

            .info-container {
                .help {
                    width: 100px;
                    height: 100px;
                }
            }

            .button-container {
                .inner-button {
                .close {
                        margin-top: 2.5rem;
                        margin-right: 0rem;
                    }                
                }
            }
        }
    }

    .card {
        &-ordered {
            //original ratio changed for styling
            width: calc($portait-postcardwidth/2.3);
            height: calc($portait-postcardwidth/1.8);
            z-index: 0;
        }
    }

    .card-preview {
        .side-inner {
            clip-path: circle(35%);
        }
    }

    .side-container {
        width: $portait-postcardwidth; //60vw
        height: calc($portait-postcardwidth*1.5);
    }

    .chart-container {
        .svg-container {
            &.Mo-chart {
                .car-density {
                    background-color: pink;
                }
            }
        }
    }
}

/*Tablet*/
@include media(">=tablet", "<desktop") {
    body {
        background-color: lightblue;
    }
}