@import "_config.scss";
@import "_card.scss";
@import "_responsive.scss";
@import "_charts.scss";
@import "_text.scss";


// remove for deployment
.debug {
    color: red;
    font-size: 10px;
    position: fixed;
    bottom: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    @include button;
    &.flip {
            position: absolute;
            bottom: 3vh;
            right: 2vh;
    }
}

h1{
    @include title;
    margin-top:0;
}

h2{
    @include title;
}

h3{
    @include title;
    color: $red;
}

h4{
    @include title;
    color: $red;
}

ul {
    padding-left: 0px;
    ol {
        padding-top: 1rem;
        padding-left: 1rem;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-taz { 
    margin: 0.5em;
    max-width: 100vw;
}

// In here all elements contained in main-container
.indicators-iframe {
    max-width: 948px;
    width: 100%;
    height: 624px;
    border: 1px solid rgb(174, 174, 142);

    .main-container {
        width: 100%;
        height: 100%;
        position: relative;

        //container of location selector
        .selection-container {
                width: 100%;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
        
                .selector {
                    width: 30%;
                    margin: 1rem;
                }
        
        }
        
        .button-container {
            position: absolute;
            width: 10%;
            height: 100%;
            z-index: 1;
            right: 0;

            .inner-button {
                width: 100%;
                height: 50%;

                img {
                    width: 100%;
                    height: auto;
                    margin: 5px 0px 0px 50%;
                    top: 0;
                }
            }
        }
        
        // Info box explaining the project
        .info-container {
            position: absolute;
            bottom: 5%;
            width: 100%;
            height: 10%;
    
            .help {
                background-color: #fff;
                color: $red;
                border-color: $red;
                border-style: solid;
                border-radius: 6px;
                border-width: 1px;
                width: 250px;
                padding: 1rem;
                transform: translateY(0) rotate(-10deg);
                transition: 0.2s;
    
                &.help-postcard {
                    width: $thumbnail-postcardwith;
                    height: calc($thumbnail-postcardwith/1.4);
                    transform: translateY(calc($thumbnail-postcardwith/-1.4)) rotate(10deg);
                    transition: transform 0.2s;
    
                    .close {
                        @include button;
                        position: absolute;
                    }
                }
    
                h4 {
                    margin: 1rem 0;
                    color: $red;
                }
    
            }
    
        }
    }
}
