@import "_config.scss";
@import "_card.scss";
@import "_charts.scss";
@import "_text.scss";

body {
    margin: 0;
    padding: 0;
    font-family: 'AktivGrotesk';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    @include button;
    &.flip {
        position: absolute;
        bottom: 1vh;
        right: 1vh;
        z-index:4;

        img {
            width: 65%;
            max-width: 50px;
            min-width: 20px;
        }
    }
}

button, .info-container, .card-preview, .selector {
    cursor: pointer;
}

h1{
    @include title;
    margin-top:0;
}

h2{
    @include title;
}

h3{
    @include title;
}

h4{
    @include title;
}

ul {
    padding-left: 0px;
    ol {
        padding-left: 0.5rem;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-taz { 
    margin: 0.5em;
    max-width: 100vw;
}

// In here all elements contained in main-container
.indicators-iframe {
    max-width: 948px;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .main-container {
        width: 100%;
        height: 100%;
        position: relative;

        .word-art-title {
            @include wordart-style-1;
            pointer-events: none;
            text-align: right;
            margin-top: 1rem;
            width: 80%;
            position: absolute;
            right: 0;

            .wordart {
                font-size: 2.5rem;
            }
        }

        //container of location selector
        .selection-container {
                width: 100%;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
        
                .selector {
                    width: 30%;
                    margin: 1rem;

                    &.lk {
                        width: 40%;
                    }

                    svg {
                            path {
                                fill: $red;
                            }
                    }

                    .css-1s2u09g-control{
                        border-color: $pale-olive; 
                        border-radius: 0;
                        box-shadow: 4px 4px 0px rgba($pale-olive, 0.20);
                        .css-1rhbuit-multiValue {
                            background-color: $lighter-orange;
                        }
                    }
                }
        
        }
        
        .button-container {
            position: absolute;
            background-color: transparent;
            width: 100%;
            height: 100%;
            right: 0;
            top: 0;

            .button-switch-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height:20%;

                .inner-button{
                    // display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    align-content: stretch;

                    .switch-preview{
                        white-space: pre-wrap;
                        margin-top: 0.5rem;
                        opacity: 0;
                        transition: all 0.5s;
                    }
                }

                .button-left {
                    text-align: right;
                    .switch {
                        transition: all 0.5s;
                        position: relative;
                        right: 0rem;
                        bottom: 0;
                        text-align: right;

                        &:hover {
                            transition: all 0.5s;
                            right: 1rem;
                        }
                    }
                }

                .button-right {
                    text-align: left;
                    .switch {
                        transition: all 0.5s;
                        position: relative;
                        bottom: 0;
                        left: 0rem;
                        text-align: left;
                        // left: -1rem;

                        &:hover {
                            transition: all 0.5s;
                            left: 1rem;
                        }
                    }
                }

                .button-left, .button-right {
                    :hover {
                        .switch-preview {
                            transition: all 0.5s;
                            opacity: 1;
                        }
                    }
                    width: 9%;
                    img {
                        position: relative;
                    }
                    .button {
                        margin-bottom: auto;
                    }
                }

            }

            .inner-button {
                // width: 100%;
                height: 50%;

                .close {
                    position:relative;
                    float: right;
                    margin-right: 1rem;
                    margin-top: 4rem;

                    img {
                        width: 70%;
                    }
                }

                .switch {
                    img {
                            // width: 30%;
                            width: 25px;    
                            height: auto;
                            // margin: 5px 0px 0px 50%;
                            top: 0;
                    }

                }
            }
        }
        
        // Info box explaining the project
        .info-container {
            position: absolute;
            bottom: 2%;
            width: 100%;
            height: 10%;
            z-index: 9999;
    
            .help {
                background-color: #fff;
                color: $red;
                border-color: $red;
                border-style: solid;
                border-width: 1px;
                width: 250px;
                height: 50px;
                padding: 1rem;
                transform: translate(-10px, 10px) rotate(-5deg);
                -webkit-transform:translate(-10px, 10px) rotate(-5deg);
                transition: 0.2s;
                -webkit-transition: 0.2s;
                box-shadow: 4px 4px 0px rgba($red, 0.44);

                &:hover {
                    box-shadow: 6px 6px 0px rgba($red, 0.44);
                }

                h4, h2 {
                    margin: 1rem 0;
                    color: $red;

                    &.mobile-title {
                        display: none;
                    }
                }

                .text {
                    opacity: 0;
                }

                &.help-postcard {
                    width: $thumbnail-postcardwidth;
                    height: calc($thumbnail-postcardwidth/1.4);
                    transform: translate(0, calc($thumbnail-postcardwidth/-1.4)) rotate(10deg);
                    -webkit-transform:translate(0, calc($thumbnail-postcardwidth/-1.4)) rotate(10deg);
                    transition: 0.2s;
                    -webkit-transition: 0.2s;

                    .text {
                        opacity: 1; 
                    }

                    .close {
                        @include button;
                        position: absolute;
                    }
                }
    
            }
    
        }
    }
}

@import "_responsive.scss";
