@import "_config.scss";

$postcardview-postcardwidth: 60vw;

//reusable styles
@mixin postcard{
    background-color: $light;
    // border-style:solid;
    border-color: $taz-orange;
    border-width:1px;
    border-radius: 10px;
    box-shadow: map-get($map: $boxshadow, $key: default);
    z-index: -10;

    &:hover{
        box-shadow: map-get($map: $boxshadow, $key: hover);
    }

}

@mixin stacked-postcard{
    position: absolute;
    transition: 1000ms;
}

.carousel-container{
    position: absolute;
    width: calc($postcardview-postcardwidth + 10vw);
    left: 50%;
    transform: translate(-50%, 0);
}

.card-container{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    
    // &.shuffle{
    //     background-color: rgb(93, 225, 255);
    // }
    
    // &.stacked{
    //     background-color: rgb(255, 93, 214);
    // }

    // &.messy{
    //     background-color: #f2ff0081;
    // }

    &.carousel{
        display: inline;
    }
}

.card{
    position: relative;
    margin: 0.35em;

    &-active{
        transform: translateY(0px) ;
        z-index: 1;
        opacity: 1;
        @include stacked-postcard;
    }

    &-left{
        transform: rotate(-5deg) scale(0.99);
        z-index: -2;
        @include stacked-postcard;
    }
    
    &-right{
        transform: rotate(5deg) scale(0.99);
        z-index: -1;
        @include stacked-postcard;
    }

    &-back{
        transform: rotate(-2deg)  translate(-2px, -5px) scale(0.99);;
        z-index: -3;
        @include stacked-postcard;
    }

    &-ordered{
        //148mm x 105mm (ratio 1.4)
        width: 30vw;
        height: calc(30vw/1.4);
        position: relative;
        z-index: 0;
    }
}

.card-preview{

    @include postcard;

    height: 100%;
    width: 100%;
    display:flex; //for using flex stretch below
    // margin: 0.5em;
}

.side {
    // background-color: rgba(226, 226, 226, 0.246);
    padding-left: 0.5em;
}

.side-container{

    @include postcard;

    //148mm x 105mm (ratio 1.4)
    width: $postcardview-postcardwidth; //60vw
    height: calc($postcardview-postcardwidth/1.4);
    // margin: 0.5em;
    
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) ;
    -webkit-transform: perspective(1000px) rotateY(var(--rotate-y, 0)) ;
    transition: transform ease 500ms;
    transition: -webkit-transform ease 500ms;


    &.flip{
        // transform: rotateY(180deg);

        //flipped boxshader
        box-shadow: map-get($map: $boxshadow, $key: default_flipped);
        &:hover{
            box-shadow: map-get($map: $boxshadow, $key: hover_flipped);
        }

    }

    & .card-front, .card-back{
        position: absolute; 
        width: 100%;
        height: 100%;
        margin: 0;
        display:flex; //for using flex stretch below
        backface-visibility: hidden;
        transform: rotateX(0deg);  //fix backface visibility firefox
    }

    & .card-back{
        transform: rotateY(180deg);
    }

    &-ordered{
        margin:1rem;
    }
}

.side-inner {
    display: inline-flex;
    align-items: stretch;
    padding:0.5rem;
    flex:1;

    .text-container, .locator-container {
        width: 50%;
    }

    .locator-container{
        position: relative;
    }
}
