@import "_config.scss";

.chart-outer-container {
    height: 100%;
}

.chart-container {

    height: 100%;

    .svg-container {
        &.Mo-chart {
            background-color: olive;
        }

        &.En-chart {
            background-color: rgb(224, 178, 111);
        }
    }
}

.locator-map {
    .locator-container {
        width: 100%;
        display:flex;
        margin-top: 30px;
        margin-bottom: 30px;

        .locator-background {
            width: 50%;
        }

        .locator-zoom {
            width: 50%;
            filter: drop-shadow(0px 0px 2px rgba(246, 161, 25, 0.4));

            .locator-zoom-inner {
                background-color: $light;
                clip-path: circle(45%);
                position: absolute;
                // box-shadow: -4px 4px 0px rgba(246, 161, 25, 0.4);
            }
        }
    }
}


.landkreis {
    stroke: $taz-orange;
    stroke-width: 0.5;
    fill: $lighter-orange-full;

    &.visible {
        fill: $red;
    }
}

.area-chart {
    display: inline-flex;
    flex:1;
}

.line-chart {
    display: inline-flex;
    flex:1;
    
    .axis-x{
        text{
            font-size: 1rem;
            text-anchor: middle;
        }
    }

    .axis-y{
        text{
            font-size: 1rem;
        }
    }

    &.thumbnail{

        text{
            display: none;
        }

        .axis-x{
            display: none;
        }
    }
}