@import "_config.scss";

.chart-outer-container {
    height: 100%;
}

.chart-container {

    height: 100%;

    .svg-container {
        &.Mo-chart {
            background-color: olive;
        }

        &.En-chart {
            background-color: rgb(224, 178, 111);
        }
    }
}


.landkreis {
    stroke: rgb(84, 84, 84);
    stroke-width: 0.25;
    fill: white;

    &.visible {
        fill: $blue;
    }
}

.area-chart {
    display: inline-flex;
    flex:1;
}

.line-chart {
    display: inline-flex;
    flex:1;
    
    .axis-x{
        text{
            font-size: 1rem;
            text-anchor: middle;
        }
    }

    .axis-y{
        text{
            font-size: 1rem;
        }
    }

    &.thumbnail{

        text{
            display: none;
        }

        .axis-x{
            display: none;
        }
    }
}