//fonts
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

//colors
$light: #FFF9F1;
$pink: rgb(255, 192, 192);
$blue: rgb(170, 210, 238);
$taz-orange: rgba(246, 161, 25, 1);
$orange-shade: rgba(246, 161, 25, 0.4);
$lighter-orange-full: rgb(255, 232, 201);
$lighter-orange: rgba(255, 232, 201, 0.7);
$taz-pink: #F00048;
$dark-pink: #E5144B;
$red: #FF7B7B;

//variables
$postcardview-postcardwidth: 60vw;
$thumbnail-postcardwith:20vw;

//effects
$boxshadow: (
    default: (4px 4px 0px $orange-shade),
    hover: (6px 6px 0px $orange-shade)
);

//reusable code

@mixin title{
    font-family: "IBM Plex Mono", monospace;
}

@mixin button{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    right: 0.5rem;
    bottom: 0.5rem;

    &:hover{
        opacity: 70%;
    }

    &.img{
        height: 25px;
        color:"blue"
    }
}

//media queries
@mixin media-s{
    @media screen and (min-width: 576px){
        @content;
    }
}

@mixin media-md{
    @media screen and (min-width: 768px){
        @content;
    }
}

@mixin media-lg{
    @media screen and (min-width: 948px){
        @content;
    }
}

@mixin media-xl{
    @media screen and (min-width: 1200px){
        @content;
    }
}

@mixin media-xxl{
    @media screen and (min-width: 1400px){
        @content;
    }
}
