//here will be the responsive changes 

@include media-s{ 
    .header-taz {
        max-width: 100vw;
    }
}

@include media-md{

    .canvas {
        width: 100vw;
    }

    .header-taz {
        width: 100vw;
    }
}

@include media-lg{ 
    .header-taz {
        width: 948px;
    }
}

