@import "_config.scss";

.canvasTitle{
    width: 40%;
}

.greetz{
    position: absolute;
    transform: rotate(-5deg) translateX(-13px) translateY(-40px);
    font-size: 1.25rem;
    font-weight: bold;
    color:$taz-orange;
    text-shadow:
    -0.5px -0.5px 0px $dark-pink,
    0px -0.5px 0px $dark-pink,
    0.5px -0.5px 0px $dark-pink,
   -0.5px  0px 0px $dark-pink,
    0.5px  0px 0px $dark-pink,
   -0.5px  0.5px 0px $dark-pink,
    0px  0.5px 0px $dark-pink,
    0.5px  0.5px 0px $dark-pink;
}

.lkTitle{
    font-size: 3rem;
    transform: rotate(-2deg) ;
    font-weight: bold;
    color: $lighter-orange;
    text-shadow:
    -0.5px -0.5px 0px $dark-pink,
    0px -0.5px 0px $dark-pink,
    0.5px -0.5px 0px $dark-pink,
   -0.5px  0px 0px $dark-pink,
    0.5px  0px 0px $dark-pink,
   -0.5px  0.5px 0px $dark-pink,
    0px  0.5px 0px $dark-pink,
    0.5px  0.5px 0px $dark-pink,
    -2.5px -2.5px $dark-pink;
}