@use '_config';

.App {
    text-align: center;
  }
  
.Canvas{
background-color: #FFF9F1;
}

.CardCollection{
background-color: rgb(255, 192, 192);
}

.Card{
background-color: rgb(170, 210, 238);
}

.Side{
background-color: azure;
}